.HeadContainer {
    margin-top: 0;
    background-color: rgb(66, 103, 178);
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .HeadH3 { 
    margin: 0 20px 0 0;
    color: rgb(255, 255, 255);
  }